.forma-label {
    color:red;
    font-size: 29px;
    font-weight: inherit;
    margin-left: 95px;
}

.sorts {
    color:red;
    font-size: 19px;
    padding: 8px;
}

.sorts:hover {
    cursor: pointer;
    color:mediumpurple;
    transform: translateY(-2px);
}

.formach {
    margin-top:20px;
    border: 1px solid aquamarine;
    height: auto;
}

.options {

    margin-left: 55px;
    display: flex;
    margin-top: 20px;

}

.from {
    color:red;
    font-size: 25px;
    font-family: "56th Street" sens;
}

.res {
    color:black;
    font-size: 25px;
    font-family: "56th Street" sens;
}

