body {
    background-color: #fdf4e8;
}

.page-container .tabs-content {
    display: flex;
    align-items: center;
    justify-content: center;
}

.navigation-tabs {
    display: flex;
}

.tabs-content .tab-content {
    width: 50%;
}

.navigation-tabs .navigation-tab {
    padding: 8px 16px;
    background: white;
    border-radius: 4px 0 0 4px;
    border: 2px solid red;
    color: black;
    flex: 0 1 50%;
    font-size: 28px;
    cursor: pointer;
}

.navigation-tab + .navigation-tab {
    border-radius: 0 4px 4px 0;
}

.navigation-tab.active {
    background: red;
    color: white;
}

